{% extends 'index.html' %}

{% block content %}
    <h2>
        Boodschappenlijstjes
        <a class="btn btn-header btn-primary pull-right" data-toggle="modal" data-target="#create-shopping-list">
            + Nieuwe boodschappenlijst
        </a>
    </h2>
    <hr>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Naam</th>
            <th>Producten</th>
            <th>Status</th>
            <th>Acties</th>
        </tr>
                
        {% for list in current_user.shopping_lists %}
            <tr>
                <td>{{ list.name }}</td>
                <td>
                    <table class="table table-bordered">
                        <tr><th>Naam</th><th>Prijs</th><th>Hoeveelheid</th><th></th></tr>
                        {% for assoc in list.products %}
                            <tr>
                                <td>{{ assoc.product.name }}</td>
                                <td>{{ assoc.product.price / 100 }}</td>
                                <td>{{ assoc.amount }}</td>
                                <td style="width:50px;">
                                    <a href="{{ url_for('shoppinglists_views.remove_product', id=list.id, product_id=assoc.product.id) }}" class="btn btn-xs btn-warning">&times; Verwijderen</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <a data-toggle="modal" data-target="#add-product" class="add-product-button btn btn-default pull-right btn-sm" form-action="{{ url_for('shoppinglists_views.add_product', id=list.id) }}">+ Product toevoegen</a>
                </td>
                <td>{{ list.nice_status.capitalize() }}</td>
                <td>
                    <div class="btn-group">
                    <a href="{{ url_for('shoppinglists_views.remove', id=list.id) }}" title="Verwijderen" class="btn btn-warning btn-sm">&times; Verwijderen</a>
                </div>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="modal fade" id="create-shopping-list">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Boodschappenlijst maken</h4>
                    </div>
                    <div class="modal-body">
                        {{ create_list_form.csrf_token }}
                        
                        <div class="create_list_form-group">
                            {{ create_list_form.name.label }}
                            {{ create_list_form.name(class="form-control") }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" value="Aanmaken" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add-product">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" role="form" action="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Product toevoegen</h4>
                    </div>
                    <div class="modal-body">
                        {{ add_product_form.csrf_token }}
                        
                        <div class="create_list_form-group">
                            {{ add_product_form.product.label }}
                            {{ add_product_form.product(class="form-control") }}
                        </div>

                        <div class="create_list_form-group">
                            <br>
                            {{ add_product_form.amount.label }}
                            {{ add_product_form.amount(class="form-control") }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" value="Toevoegen" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{super()}}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.add-product-button').on('click', function(event) {
                var $el, $form;

                $el = $(event.target);
                $form = $('#add-product form');

                $form.attr('action', $el.attr('form-action'));
            });
        });
    </script>
{% endblock %}
