<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}Winkel van de Toekomst</title>

        <link href="/static/vendor/bootstrap-3.0.0/css/bootstrap.css" rel="stylesheet">
        <link href="/static/styles/main.css" rel="stylesheet">

        {% block styles %}{% endblock %}
    </head>
    <body>
        
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Winkel van de Toekomst</a>
                </div>
                <div class="navbar-collapse collapse">
                    {% block menu_content %}
                        <ul class="nav navbar-nav">
                            {% block menu_inner_content %}{% endblock %}
                        </ul>
                        <div class="pull-right btn-group">
                            {% if current_user.is_authenticated() %}
                                <a href="/users/logout" class="btn btn-warning navbar-btn">Uitloggen</a>
                            {% else %}
                                <a href="/users/login" class="btn btn-default navbar-btn">Login</a>
                                <a href="/users/register" class="btn btn-primary navbar-btn">Register</a>
                            {% endif %}
                        </div>
                        {% if current_user.is_authenticated() %}
                            <div class="pull-right" style="margin-right:15px">
                                <p class="navbar-text">Ingelogd als {{current_user.username}}</p>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% block content %}
                        <h2>Welkom</h2>
                        <hr>
                        <p>Welkom op de webinterface van de Winkel van de Toekomst. Dit
                        is momenteel nog een Proof of Concept en kan daarom fouten
                        bevatten. U bent gewaarschuwd!</p>

                        <p>Als u al klant bent, log dan in rechts boven in om uw 
                        boodschappenlijstjes te beheren.</p>

                        <p>Bent u nog geen klant? Registreer u dan via de knop rechts
                        bovenin deze pagina.</p>
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="container footer">
            <p>&copy; Copyright Hanzehogeschool Groningen</p>
        </div>

        {% block scripts %}
            <script type="text/javascript" src="/static/vendor/jquery.js"></script>
            <script type="text/javascript" src="/static/vendor/bootstrap-3.0.0/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/static/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
        {% endblock %}
    </body>
</html>
